.navbar{
  background: rgb(107, 24, 24);
  position: fixed;
  width: 100%;
  
}

.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}  

.container-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

.logo{
  width: 175px;
  height: 60px;
  border-radius: 20px;
}