.navbar{
  background: rgb(107, 24, 24);
  position: fixed;
  width: 100%;
  
}

.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}  

.logo{
  width: 250px;
  height: 80px;
  border-radius: 20px;
}