.card-pedido{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 10px;
}

.card_titulo-pedido{
  font-size:  18px;
  font-weight: 500;
  color: white ;
  margin-bottom: 8px;
}
.card_preco-pedido{
  font-size: 15px;
  color: white ;
  font-weight: 500;
}
.card_endereco-pedido{
  font-size: 12px;
  color: white ;
  font-weight: 300;
}
.card_status-pedido{
  font-size: 12px;
  color: white ;
  font-weight: 300;
}
.card_infos-pedido{
  padding: 0px 25px 0 10px;
}
