.carrinho{
width: 100%;
max-width: 300px;
background-color: rgb(107, 24, 24);
height: 100vh;
position: fixed;
top: 80px;
right: 0;
padding: 100px 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.carrinho-itens{
flex-grow: 1;
overflow: auto;
}
.carrinho-resumo{

}